<nav>
    <div style="height: 102px; background-color: #0084ff;">

        <div>
            <a href="/"><img src="./images/descarga.png" alt="twitter" class="ms-4 mt-3 me-5"
                    style="width: 70px;" /></a>
            <a href="/register" class="me-5" style="text-decoration: none; color:cornsilk"><i class="fa fa-plus fa-fw"
                    style="color: cornsilk;"></i>register</a>
            <a href="/login" class="me-5" style="text-decoration: none; color:cornsilk"><i class="fa fa-plus fa-fw"
                    style="color: cornsilk;"></i>LOGIN</a>
            <a href="/" style="text-decoration:none; color: cornsilk">home</a>
        </div>

    </div>
</nav>