

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" style="height: 120px; background-color:#0084ff">
   <img src="/public/images/kiev-ukraine-may-08-2015-260nw-281364161.jpeg" alt="twitter">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
      aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
        </ul>
      <ul class="navbar-nav">
        {{#if currentUser}}
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/profile">{{ currentUser.email }}</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/logout"><i class="fa fa-sign-out"></i></a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
